/*============== TRUSTED ==============*/

.trusted{

padding:80px 0;

}

.trusted-title{

text-align:center;

font-size:18px;

color:#94a3b8;

margin-bottom:45px;

letter-spacing:1px;

}

.trusted-grid{

display:grid;

grid-template-columns:repeat(6,1fr);

gap:20px;

}

.trusted-card{

height:110px;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

gap:12px;

background:rgba(255,255,255,.05);

border:1px solid rgba(255,255,255,.08);

border-radius:22px;

transition:.35s;

backdrop-filter:blur(15px);

}

.trusted-card:hover{

transform:translateY(-8px);

color:#DAA06D;

box-shadow:0 15px 35px rgba(218,160,109,.2);

}

.trusted-card i{

font-size:34px;

color:#DAA06D;

}

.trusted-card span{

font-size:15px;

font-weight:600;

}